body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1939px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  display:flex;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:73px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:111px;
  width:500px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u472 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:12px;
  width:24px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:352px;
  width:121px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:390px;
  width:500px;
  height:98px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u475 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:264px;
  width:24px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:69px;
  width:24px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:447px;
  width:24px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:180px;
  width:131px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E8FF4;
  line-height:18px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:218px;
  width:500px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E8FF4;
  line-height:18px;
}
#u480 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:537px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:575px;
  width:500px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u482 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:463px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:96px;
  height:10px;
}
#u483_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-5px;
  width:10px;
  height:98px;
}
#u483_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:83px;
  width:96px;
  height:10px;
}
#u483_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u483_seg4 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:78px;
  width:20px;
  height:20px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:41px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:28px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:1152px;
  height:10px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:-5px;
  width:10px;
  height:69px;
}
#u484_seg2 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:54px;
  width:18px;
  height:10px;
}
#u484_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u484_seg4 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:49px;
  width:20px;
  height:20px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:560px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:85px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:1158px;
  height:10px;
}
#u485_seg1 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:-5px;
  width:10px;
  height:119px;
}
#u485_seg2 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:104px;
  width:36px;
  height:10px;
}
#u485_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u485_seg4 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:99px;
  width:20px;
  height:20px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:596px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:280px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:226px;
  height:10px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-5px;
  width:10px;
  height:96px;
}
#u486_seg2 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:81px;
  width:223px;
  height:10px;
}
#u486_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u486_seg4 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:76px;
  width:20px;
  height:20px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:171px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:155px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:359px;
  width:343px;
  height:155px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u487 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:150px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:497px;
  width:343px;
  height:150px;
  display:flex;
  color:#FFFFFF;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
