body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2091px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:143px;
  width:148px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:194px;
  width:622px;
  height:108px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u574 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:159px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u575_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:386px;
  height:10px;
}
#u575_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
